{% extends "base.html" %}

{% block head %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80134008-3', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- End Google Analytics -->
    {{ block.super }}
{% endblock %}

{% block extra_head %}
<link href="/static/cityfutures/css/semantic.min.css" rel="stylesheet" />

<link rel="icon" type="image/vnd.microsoft.icon" href="/static/cityfutures/img/favicon.ico">

<style>
    .page-header {
        margin-top: 91px;
  }
    .navbar-fixed-top {
        height: 51px;
/*        position: static;*/
    }
    .site-logo a {
        text-decoration: none;
    }
    .navbar-brand {
        background-image: url(/static/cityfutures/img/logo.png);
    }
    .navbar-parent {
        background-image: url(/static/cityfutures/img/pluslogo_reversed.png);
    }
    .navbar-parent:hover {
        background-image: url(/static/cityfutures/img/pluslogo_reversed_mono.png);
    }
  
  /* Prevent CF logo wrapping to next line on Safari*/
  @media only screen and (min-width: 992px) {
  .ui.container.grid > .two.wide.computer.only.column {
      width: 12.4%!important;
    }
  }

  /* PLuSData footer logo */
  .footer-logo {
    margin: auto;
    width: 385px
  }

  /* Shrink PLuSData footer logo for mobile */
  @media only screen and (max-width: 64.063em) {
    .footer-logo {
      max-width: 250px;
    }
  }
  
  .footer-terms {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 34px;
  }
  .footer-terms a {
    color: rgb(46, 46, 46);
  }
  .footer-terms a:hover {
    color: #bb1f35;
    border-bottom: 2px solid #bb1f35;
  }
  
</style>
{% endblock %}

{% block parent_link %}
          <a class="navbar-brand navbar-parent" href="https://www.plusalliance.org">PLuS Alliance</a>
{% endblock %}

{% block nav_guide %}
    {% if user.is_superuser %}
    <!-- Link to CityData User, Admin and Librarian Guides -->
        <li class="dropdown"><a href="/guide/user" style="display:inline-block; padding-right:0">User guide</a><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="display:inline-block; padding-left:5px; padding-right:5px"> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/guide/admin">Admin guide</a></li>
                <li><a href="/guide/lib">Librarian guide</a></li>
            </ul>
        </li>
    {% else %}
    <!-- Just link to CityData User Guide -->
        <li id="nav_ug">
            <a href="/guide/user">User guide</a>
        </li>
    {% endif %}
{% endblock %}

{% block signin_heading %}
<h4 class="modal-title" id="myModalLabel">Sign in to CityData</h4>
{% endblock %}

{% block footer %}
    {{ block.super }}

    <!-- Footer -->

    <footer class="footer" role="contentinfo">
      <div class="row">
        <div class="footer-logo">
          <img src="/static/cityfutures/img/plus_alliance_logo_new_0.png" alt="PLuS Alliance" width="100%">
        </div>
      </div>
      <div class="row">
        <div class="footer-terms">
          <a href="https://www.plusalliance.org/terms-use">Terms of Use</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
{% endblock footer %}
