{% extends "index.html" %} {% block extra_head %} {{block.super}}
<style type="text/css">
    /*    CityFutures banner styles*/

    .yellow-header .page-title,
    .category, .tagline {
        background-color: #ffcc00;
        display: block;
        float: left;
        padding: 5px 15px;
        clear: left;
        color: black;
        font-weight: bold;
    }

    .tagline {
        color: #fff;
        background-color: #1B1C1D;
        font-weight: normal;
    }

    .yellow-header .page-title {
        margin-top: 0.2em;
    }

    .yellow-header .page-title-wrapper {
        height: 200px;
        background-image: url('/static/cityfutures/img/banner.jpg');
        background-size: cover;
    }

    /*    No gap above banner*/

    #wrap {
        padding-top: 0;
    }

    #wrap .container:first-child .row {
        display: none;
    }

    .attribution {
        position: absolute;
        bottom: 0px;
        right: -14px;
        opacity: 0;
        background: rgba(0, 0, 0, .25);
        padding: 0px 5px;
        font-size: 0.8rem;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        /* Safari */
    }

    .page-title-wrapper:hover .attribution {
        opacity: 1;
    }
</style>
{% endblock %}

{% block title %} {{ SITE_NAME }} {% endblock %}

{% block middle %}
{{ block.super }}
{% block hero %}
<div class=" yellow-header">
    <div class="ui vertical yellow inverted padded one column grid page-title-wrapper">
        <div class="bottom aligned row">
            <div class="column">
                <div class="ui container">
                    <h1 class="page-title">Heading</h1>
                </div>
                <div class="ui container">
                    <p class="tagline">Store, discover and share &ndash; data for city analytics and decision-making</p>
                </div>
            </div>
            <div class="attribution">
                <a about="/static/cityfutures/img/banner.jpg" rel="cc:attributionURL" href="https://commons.wikimedia.org/wiki/File:Social_Network_Analysis_Visualization.png" target="_blank">Image</a>: <a about="/static/cityfutures/img/banner.jpg" rel="dc:creator" href="https://commons.wikimedia.org/wiki/User:SlvrKy" property="cc:attributionName" target="_blank">Martin Grandjean</a> / <a about="/static/cityfutures/img/banner.jpg" rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en" target="_blank">CC BY-SA 3.0</a>
            </div>
        </div>
        <!--        <div class="bottom aligned row">-->
        <!--        </div>-->
    </div>
</div>
{% endblock %}

    {% block mainbody %}
        <div class="container">
          <div class="row home-facets">
          {% with facet_type='home' %}
            {% facets as facets %}
            <div class="col-md-4">
              <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
              <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
              <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
              {% if user.is_authenticated %}
              <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
              {% else %}
              <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
              {% endif %}
            </div>
            <div class="col-md-4">
              <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
              <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
              <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
              {% if user.is_authenticated %}
              <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
              {% else %}
              <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
              {% endif %}
            </div>
            <div class="col-md-4">
              <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
              <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
              <p>CityData allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff.</p>
              <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
            </div>
          {% endwith %}
          </div>
        </div>
        {% verbatim %}
        <div ng-app="featured">
          <div ng-repeat="item in featured">
            <!--{{ item.title }}-->
          </div>
        </div>
        {% endverbatim %}
    {% endblock %}

{% endblock %}
